<header class="page-header">
  <span class="siteheader"><a href="<%- settings.root %>"><%- settings.siteheader %></a></span>
  <nav class="top-menu">
    <ul>
      <li><a href="<%- settings.root + 'archive.html' %>">Archive</a></li>
      <li><a href="<%- settings.root + 'about.html' %>">About</a></li>
      <li><a title="Home Page" class="homepage-link" href="<%- settings.author.url %>"><%= settings.initials %></a></li>
      <li><a title="Feed" class="feed-icon" href="<%- settings.feed_url %>"><img src="<%- settings.root + 'images/feed.svg' %>" width="22" height="22"></a>
      </li>
    </ul>
  </nav>
</header>